.tree_node {
    position: relative;
    left: 30px;
}
.tree_node input {
    display: block;
    min-width: 250px;
}
.tree_node button {
    border: none;
    background: transparent;
    cursor: pointer;
}