.tree {
    background-color: #efefef;
    height: 100%;
    padding: 10px;
    font-family: monospace
}


.tree_2 ul {
    padding-left: 40px;
    list-style-type: none;
}

.tree_2 > ul {
    padding-left: 0;
}

.tree_3 ol {
    list-style: none;
    counter-reset: item;
}
.tree_3 > ol {
    padding-left: 0;
}
.tree_3 ol li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
}